name: CI
on:
    push:
        branches:
            - "main"
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: prefix-dev/setup-pixi@v0.9.3
              with:
                  pixi-version: latest
            - run: pixi run mkdocs build
            - uses: actions/upload-artifact@v4
              with:
                  name: Website
                  path: ./site
                  if-no-files-found: error
                  retention-days: 3
